@import "tailwindcss";
@import "tw-animate-css";

@source '../*.{js,ts,jsx,tsx,mdx}';

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.1371 0.036 258.53);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1371 0.036 258.53);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1371 0.036 258.53);
    --primary: oklch(0.3114 0.1575 263.35);
    --primary-foreground: oklch(0.9838 0.0035 247.86);
    --secondary: oklch(0.6122 0.2501 29.13);
    --secondary-foreground: oklch(0.9838 0.0035 247.86);
    --tertiary: oklch(0.5547 0.0407 257.44);
    --tertiary-foreground: oklch(0.9684 0.0068 247.9);
    --muted: oklch(0.9684 0.0068 247.9);
    --muted-foreground: oklch(0.5547 0.0407 257.44);
    --accent: oklch(0.9684 0.0068 247.9);
    --accent-foreground: oklch(0.2079 0.0399 265.73);
    --destructive: oklch(0.6368 0.2078 25.33);
    --destructive-foreground: oklch(0.9838 0.0035 247.86);
    --border: oklch(0.929 0.0126 255.53);
    --input: oklch(0.929 0.0126 255.53);
    --ring: oklch(0.1371 0.036 258.53);
    --chart-1: oklch(0.6772 0.1571 35.19);
    --chart-2: oklch(0.6309 0.1013 183.49);
    --chart-3: oklch(0.3787 0.044 225.54);
    --chart-4: oklch(0.8336 0.1186 88.15);
    --chart-5: oklch(0.7834 0.1261 58.75);
    --radius: 0.75rem;
    --sidebar-background: oklch(0.9848 0 0);
    --sidebar-foreground: oklch(0.3705 0.012 285.8);
    --sidebar-primary: oklch(0.3114 0.1575 263.35);
    --sidebar-primary-foreground: oklch(0.9838 0.0035 247.86);
    --sidebar-accent: oklch(0.9676 0.0013 286.37);
    --sidebar-accent-foreground: oklch(0.2103 0.0059 285.88);
    --sidebar-border: oklch(0.9278 0.0058 264.53);
    --sidebar-ring: oklch(0.6232 0.1879 259.8);
  }

  .dark {
    --background: oklch(0.1417 0.0044 285.82);
    --foreground: oklch(0.9838 0.0035 247.86);
    --card: oklch(0.2103 0.0059 285.88);
    --card-foreground: oklch(0.9838 0.0035 247.86);
    --popover: oklch(0.2103 0.0059 285.88);
    --popover-foreground: oklch(0.9838 0.0035 247.86);
    --primary: oklch(0.3939 0.1962 262.99);
    --primary-foreground: oklch(0.9838 0.0035 247.86);
    --secondary: oklch(0.6381 0.2363 25.26);
    --secondary-foreground: oklch(0.971 0.0127 17.38);
    --tertiary: oklch(0.28 0.0369 259.97);
    --tertiary-foreground: oklch(0.9838 0.0035 247.86);
    --muted: oklch(0.2103 0.0059 285.88);
    --muted-foreground: oklch(0.7041 0.0132 286.05);
    --accent: oklch(0.28 0.0369 259.97);
    --accent-foreground: oklch(0.9838 0.0035 247.86);
    --destructive: oklch(0.3959 0.1331 25.72);
    --destructive-foreground: oklch(0.9838 0.0035 247.86);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.8688 0.0198 252.85);
    --chart-1: oklch(0.5292 0.1931 262.13);
    --chart-2: oklch(0.6983 0.1337 165.46);
    --chart-3: oklch(0.7232 0.15 60.63);
    --chart-4: oklch(0.6192 0.2037 312.73);
    --chart-5: oklch(0.6123 0.2093 6.39);
    --sidebar-background: oklch(0.2103 0.0059 285.88);
    --sidebar-foreground: oklch(0.9676 0.0013 286.37);
    --sidebar-primary: oklch(0.3939 0.1962 262.99);
    --sidebar-primary-foreground: oklch(0.9838 0.0035 247.86);
    --sidebar-accent: oklch(0.2741 0.0055 286.03);
    --sidebar-accent-foreground: oklch(0.9676 0.0013 286.37);
    --sidebar-border: oklch(0.2741 0.0055 286.03);
    --sidebar-ring: oklch(0.6232 0.1879 259.8);
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-3xl: 1920px;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-sans: "Poppins", sans-serif;
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spin-slow: spin-slow 3s linear infinite;
  --animate-collapsible-down: collapsible-down 300ms ease-out;
  --animate-collapsible-up: collapsible-up 300ms ease-out;
  --animate-progress: progress 1s infinite linear alternate;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility title-chart {
  @apply text-lg lg:text-xl font-semibold leading-none tracking-tight text-foreground;
}

@utility subtitle-chart {
  @apply text-xs md:text-sm text-muted-foreground;
}

@utility bg-gradient {
  @apply bg-linear-to-r from-primary to-secondary;
}

@layer utilities {
  body {
    @apply font-family-poppins;
  }
}

@utility formlayout {
  @apply md:px-4 py-6 rounded-md;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 4px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
